/* Write your CSS here */
/* Write your CSS here */
.main-div {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-heading {
  font-family: 'Bree Serif';
}
.search-Container {
  border: 2px solid #7b8794;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.input-element {
  border-width: 0px;
  background-color: transparent;
  font-weight: 600;
  color: #7b8794;
}
.search-image {
  height: 30px;
  width: 30px;
}
.tab-div-container {
  width: 25%;
  margin-top: 15px;
}
.tab-ul-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-left: 0px;
}
.app-ul-el {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  justify-content: center;
  list-style: none;
}
.app-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
